.add-row-wrapper {
    padding-top: 20px;

    .form-group {
        text-align: left;
        display: inline-block;
        vertical-align: top;
        margin-right: 15px;
    }

    button {
        margin: 32px 0 0 0;
    }
    
}