.items-list-wrapper {
    table {
        margin: 0 auto;
        td {
            padding: 10px 20px;
        }
        .remove-btn {
            cursor: pointer; 
            font-size: 20px;
            float: right;
        }
    }
}