.menu-top-wrapper {
    overflow: auto;
    padding: 5px 0 25px 0;

    .menu-link {
        cursor: pointer;
        float: left;
        margin-left: 20px;
    }

    .menu-link:first-child {
        margin-left: 0;
    }

    .menu-link.logout {
        float:right;
    }

    .menu-link.email {
        float:right;
        cursor: default;
    }
}